.home_page{
    min-height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
     
}
.content_home{ 
    margin-top: 100px; 
    width: 100%;
     
    padding: 0 20px 50px;
}
 
.title_secion_homeP{
    color: white;
    font-size: 30px;
}